@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0A0A0A;
    color: #FFFFFF;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-gradient-gold {
    @apply bg-gradient-to-br from-white to-gold bg-clip-text text-transparent;
  }
}
